.main_header
{

}
.nev_bar
{
	position:fixed;
	bottom:0px;
	width:100%;
	overflow:hidden;
	background:rgba(125,125,125,178);
}
.nev_bar .nev_item
{
	position:relative;
	float:left;
	height:inherit;
	text-align:center;
}

.nev_bar .nev_item img
{
	position:relative;
	top:0;
}
.nev_bar .nev_item .title
{
	position:relative;
	color:white;
}
