<div id="player">
	<div class="spinner_container">
		<div x-mojo-element="Spinner" id="player_spinner" class="spinner"></div>
		<div id="loading_tip">正在缓冲，请耐心等待...</div>
	</div>
	<video id="video-object">
	</video>
	<div id="header_bar">
		<div id="title"></div>
		<div id="detail_button" class="button">详情</div>
		<div id="related_button" class="button">相关推荐</div>
	</div>
	<div id="video-control">
		<img id="play_control" />
		<div id="slider_bar_container">
			<div id="slider_bar">
				<div id="slider_bar_inner_buffered">
				</div>
				<div id="slider_bar_inner">
				</div>
				<div id="slider_bar_handle">
				</div>
			</div>
		</div>
		<div id="time_container">
				<div id="play_time"></div><div class="slipe">/</div><div id="total_time"></div>
		</div>
		<div id="fit_button"></div>
	</div>
	
	<div id="detail_layout">
	
	</div>
	<!--
	<div id="related_list">
	</div>
	-->
</div>